@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

.main {
    position: relative;
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    font-size: 2em;
    background: linear-gradient(60deg, #733053, #44225c, #45445e, #314287) repeat;
}
.main > * {
    position: relative;
}
.light {
    width: 100%;
    height: 25vh;
    position: absolute;
    filter: blur(90px);
}
.topLight {
    background: rgba(235, 154, 245, 0.37);
    top: 0;
}
.bottomLight {
    background: rgba(154, 245, 237, 0.52);
    bottom: 0;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 24px;
    height: 87vh;
    padding: 85px;
    width: 35vw;
    z-index: 99;
}
.content > * {
    width: 100%;
}
.contentBg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
    border-radius: 24px;
}
.label {
    margin-top: -40px;
    width: max-content;
}
.label > p {
    text-align: center;
    font-size: 2.9em;
    font-family: 'Changa', sans-serif;
}
.credentials {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.credentials > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.credentials > div > input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid #272634;
    font-size: 0.7em;
    color: #fff;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 0.1em;
}
.credentials > div > input::placeholder {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.74);
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 0.1em;
}
.credentials > div > input:focus {
    border: 3px dashed #272634;
    border-radius: 14px;
    box-sizing: border-box;
}
.password {
    display: flex;
    gap: 20px;
}
.password > i {
    cursor: pointer;
    color: #525252;
}
.password > i:active {
    background: none;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btnText {
    animation: login infinite 1s ease-in-out alternate;
}
.btnFancy:hover .btnText {
    animation: none;
}
.footer > a {
    text-align: center;
    font-size: 0.6em;
    transform: translateY(20px);
}
@keyframes login {
    from { color : #000; }
    to { color: #fff; }
}
.credentialsError {
    font-family: 'Inconsolata', monospace;
    color: #ff0000;
    font-size: .5em;
    font-weight: 500;
    padding: 0px 10px;
    margin: -40px 0;

}
@media (max-width: 329px) {
    .main {
        width: 100vw;
    }
    .content {
        padding: 15px;
        gap: 10px;
    }
    .label > p {
        text-align: center;
        font-size: 1.4em;
        white-space: nowrap;
        font-family: 'Changa', sans-serif;
    }
    .password {
        gap: 5px;
    }
    .password > i {
        transform: scale(.6);
    }
    .credentialsError {
        font-size: .37em;
        margin: -20px 0 -40px 0;
    }
    .btnFancy {
        margin-top: -25px;
    }
    .footer > a {
        margin-top: -60px;
        font-size: .45em;
    }
    .credentials > div > input {
        font-size: .5em;
    }
    .btnFancy::before {
        content: " ";
        width: 3rem;
        height: 2px;
        background: black;
        top: 50%;
        left: 1.5em;
        position: absolute;
        transform: translateY(-50%);
        transform-origin: center;
        transition: background 0.3s linear, width 0.3s linear;
    }
}
@media (min-width: 330px) and (max-width:576px) {
    /* -----------   PHONE   ----------- */
    .main {
        width: 100vw;
    }
    .content {
        padding: 15px;
    }
    .label > p {
        text-align: center;
        font-size: 1.8em;
        white-space: nowrap;
        font-family: 'Changa', sans-serif;
    }
    .password {
        gap: 5px;
    }
    .password > i {
        transform: scale(.9);
    }
    .credentialsError {
        font-size: .37em;
        margin: -20px 0 -40px 0;
    }
    .btnFancy {
        margin-top: -25px;
    }
    .footer > a {
        margin-top: -40px;
        font-size: .45em;
    }
    .credentials > div > input::placeholder {
        font-size: .8em;
    }
    .credentials > div > input {
        font-size: .7em;
    }
}
@media (min-width: 576px) and (max-width: 640px) {
    .label > p {
        font-size: 2.6em;
    }
    .credentialsError {
        margin-top: -10px;
        font-size: .4em;
    }
}
@media (min-width: 640px) and (max-width: 992px) {
    /* -----------   TABLET   ----------- */
    .contentBg {
        display: none;
    }
    .main {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        font-size: 3.5em;
    }
    .content {
        margin-top: -140px;
        width: 90%;
        height: 85%;
        gap: 100px;
    }
    .btnFancy {
        transform: translateY(-20px);
    }
    .btnText {
        animation: none;
    }
    .footer > a {
        transform: translateY(50px);
    }
    .label {
        transform: translateY(30px);
    }
    .credentialsError {
        margin-top: -15px;
    }
}

@media (max-width: 992px) {
    /* -----------   ALL NOT PC   ----------- */
    .contentBg {
        display: none;
    }
    .main {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        font-size: 3.5em;
    }
    .content {
        margin-top: -140px;
        width: 90%;
        height: 85%;
        gap: 100px;
    }
    .btnFancy {
        transform: translateY(-20px);
    }
    .btnText {
        animation: none;
    }
    .footer > a {
        transform: translateY(50px);
    }
    .label {
        transform: translateY(30px);
    }
    .credentials > div > input::placeholder {
        color: rgba(255, 255, 255, 0.53);
    }
}
@media (min-width: 992px) and (max-width: 1100px) {
    .content {
        width: 45vw;
        height: 90vh;
    }
}
@media (min-width: 1100px) and (max-width: 1500px) {
    .main {
        font-size: 2.4em;
    }
    .content {
        width: 40vw;
        height: 90vh;
    }
}
@media (min-width: 1500px) and (min-width: 1700px) {
    .main {
        font-size: 2.6em;
    }
    .content {
        width: 45vw;
        height: 80vh;
    }
}
@media (min-width: 1700px) {
    .main {
        font-size: 2.8em;
    }
    .content {
        width: 45vw;
        height: 80vh;
    }
}